services:
  synectura-web:
    container_name: synectura_frontend
    build: .
    restart: always
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 512M