<footer class="site-footer">
  <div class="footer-container">
    
    <div class="footer-col brand">
      <h3 class="footer-logo">ITZEL RU<span class="highlight">IZ PAY</span></h3>
      <p>Ilustración Digital, Concept Art y Narrativa Visual.</p>
    </div>

    <div class="footer-col links">
      <h4>Menú</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/portafolio">Portafolio</a></li>
        <li><a routerLink="/comics">Cómics</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-col social">
      <h4>Sigue mi trabajo</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/paydibujos/" target="_blank" aria-label="Instagram">IG</a>
        <a href="https://the-artistic-pie.tumblr.com/?source=share" target="_blank" aria-label="Tumblr">Tumblr</a>
        <a href="https://www.tiktok.com/@paydibujos?_t=ZS-8yAjm6kCkXR&_r=1" target="_blank" aria-label="Tiktok">Mi Tiktok</a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="copyright">
      &copy; 2025 Itzel Ruiz Pay. Todos los derechos reservados.
    </div>
    
    <div class="developer-credit">
      Desarrollado por <a href="https://synectura.com" target="_blank" class="synectura-link">Synectura</a>
    </div>
  </div>
  <div class="backend-status">
  @if (statusService.status() === 'CHECKING') {
    <span class="status-dot checking"></span> Conectando...
  } @else if (statusService.status() === 'ONLINE') {
    <span class="status-dot online"></span> 
    Synectura Systems v{{ statusService.systemVersion() }}
  } @else {
    <span class="status-dot offline"></span> Sin conexión
  }
</div>
</footer>